{% extends "../layout.html" %}

{% block content %}
<p>
  Hi {{ order.buyerInfo.fullName }},
</p>
<p>
  Your order status is "{{ order.orderStatus }}".
  {% if order.orderStatus === 'Being Processed' or order.orderStatus === 'Shipped' %}
  Orders are usually delivered within 5-7 business days.
  {% elif order.orderStatus === 'Out for delivery' %}
  Deliveries usually occur between the hours of 8 AM to 4 PM.
  {% else %}
  Please don't hesitate to contact us if you think there might be a mistake in your order.
</p>
<p>
  Thank you for shopping with us.
</p>
<p>
  - Customer Service Team
</p>
{% endblock %}