{% extends "../layout.html" %}

{% block content %}
<p>
  Hi {{ order.buyerInfo.fullName }},
</p>
<p>
  {% if order.orderStatus === 'Refunded' or order.orderStatus === 'Returned' %}
  Your order has already been returned. The refunded amount usually takes 10 business days to be reflected on your bank statement. This is dependent on your bank account.
  {% elif order.orderStatus === 'Processing Refund' or order.orderStatus === 'Return PickedUp' or order.orderStatus === 'Processing Return'%}
  The return on your order is currently being processed. You will see the full refund amount in your account within 5-7 business days.
  {% else %}
  We have initiated a return on your order. You will see the full refund amount in your account within 5-7 business days.
  {% endif %}
</p>
{% endblock %}